#### test config
option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: ec2login
files:
    /etc/systemd/system/worker.service:
        mode: "000755"
        owner: root
        group: root
        content: |
            [Unit]
            Description=My worker

            [Service]
            User=nginx
            Group=nginx
            Restart=always
            ExecStart=/usr/bin/nohup /usr/bin/php /var/app/current/bin/console messenger:consume integration_incoming --time-limit=60

            [Install]
            WantedBy=multi-user.target

container_commands:
   10_enable_worker:
     command: systemctl enable worker.service
   20_start_worker:
     command: systemctl start worker.service
commands:
  00-remove-guid-lock:
    command: sed -i.bak 's#mirrorlist=http://repo.$awsregion.$awsdomain/$releasever/updates/mirror.list-$guid#mirrorlist=http://repo.$awsregion.$awsdomain/$releasever/updates/mirror.list#' /etc/yum.repos.d/amzn-updates.repo
    ignoreErrors: true
  01a-perform-update:
    command: yum update procmail -y --releasever=latest
    ignoreErrors: true
  01b-perform-update-w-epel:
    command: yum update procmail -y --releasever=latest --enablerepo=epel
    ignoreErrors: true
#  02-restore-guid-lock:
#    command: rm -rf /etc/yum.repos.d/amzn-updates.repo && mv /etc/yum.repos.d/amzn-updates.repo.bak /etc/yum.repos.d/amzn-updates.repo
